@charset "UTF-8";
body, button, input, select, textarea {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, PingFang SC, Source Han Sans CN, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif
}

input {
    outline: 0
}

body {
    position: relative;
    min-height: calc(100vh - 172px);
    margin-bottom: 172px
}

.placeholder {
    color: #ddd
}

.nav {
    width: 100%
}

.nav .nav-content {
    width: 1000px;
    height: 66px;
    margin: auto
}

.nav .nav-logo {
    float: left;
    width: 100px;
    height: 66px;
    background: url("/static/img/logo.png") center no-repeat
}

.nav .nav-line {
    float: left;
    width: 1px;
    height: 30px;
    margin: 18px 15px;
    background: #ccc
}

.nav .nav-title {
    font-size: 30px;
    line-height: 65px;
    float: left;
    height: 65px;
    color: #787878
}

.search .search-form {
    margin: auto;
    border: 6px solid #00bcc2;
    background: #00bcc2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.search .search-form ::-webkit-input-placeholder {
    color: #c8c8c8
}

.search .search-form :-moz-placeholder {
    opacity: 1;
    color: #c8c8c8
}

.search .search-form ::-moz-placeholder {
    opacity: 1;
    color: #c8c8c8
}

.search .search-form :-ms-input-placeholder {
    color: #c8c8c8
}

.search .search-form ::-ms-input-placeholder {
    color: #c8c8c8
}

.search .search-form ::placeholder {
    color: #c8c8c8
}

.search .search-form .search-input {
    font-size: 16px;
    padding-right: 20px;
    text-indent: 20px;
    color: #c8c8c8;
    border: none
}

.search .search-form .search-btn {
    float: right;
    border: none;
    background: url("/static/img/search-btn.png") center no-repeat #fff
}

.retrieve {
    overflow: hidden;
    width: 185px;
    margin-left: auto
}

.retrieve .retrieve-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    position: relative;
    height: 35px;
    padding-left: 30px;
    color: #464646;
    border-radius: 10px;
    background: #f1f1f1
}

.retrieve .retrieve-title ~ .retrieve-title {
    margin-top: 35px
}

.retrieve .retrieve-title:before {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 8px;
    height: 8px;
    margin-top: -8px;
    content: '';
    border: 4px solid #00adb3;
    border-radius: 50%
}

.retrieve .retrieve-title .retrieve-more {
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    float: right;
    padding-right: 10px;
    color: #969696
}

.retrieve .word-title {
    font-size: 12px;
    line-height: 25px;
    position: relative;
    display: inline-block;
    height: 25px;
    margin-top: 15px;
    margin-bottom: -10px;
    padding-right: 20px;
    padding-left: 10px;
    color: #fff;
    border-radius: 3px;
    background-color: #a2b4de
}

.i-footer, .i-footer .i-footer-content .copyright .credit {
    position: absolute
}

.retrieve .word-title:after {
    position: absolute;
    right: -2px;
    width: 0;
    height: 0;
    content: '';
    border: 13px solid transparent;
    border-right: 13px solid #fff
}

.retrieve .word-box {
    overflow: hidden;
    width: 198px
}

.retrieve .word-box .word {
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    color: #787878
}

.i-footer {
    font-size: 12px;
    bottom: -172px;
    width: 100%;
    height: 172px;
    background: #f7f7f7
}

.nav, .search {
    background: #f0f9f9
}

.i-footer .i-footer-content {
    width: 1000px;
    min-width: 1000px;
    margin: 0 auto
}

.i-footer .i-footer-content .link {
    padding-top: 20px;
    text-align: center
}

.i-footer .i-footer-content .link ul li {
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    border-right: 1px solid #777878
}

.i-footer .i-footer-content .link ul li:last-child {
    border-right: none
}

.i-footer .i-footer-content .link ul li:first-child {
    padding-left: 0
}

.i-footer .i-footer-content .allowrance, .i-footer .i-footer-content .copyright, .i-footer .i-footer-content .title, .i-footer .i-footer-content a {
    color: #828282
}

.i-footer .i-footer-content .copyright {
    margin-top: 20px;
    margin-left: 270px
}

.i-footer .i-footer-content .copyright a {
    display: inline-block;
    width: 95px;
    height: 30px;
    margin-bottom: -20px;
    margin-left: 10px
}

.i-footer .i-footer-content .allowrance {
    margin-top: 10px;
    margin-left: 167px
}

.i-footer .i-footer-content .title {
    margin-top: 15px;
    padding-bottom: 28px;
    text-align: center
}

.i-footer .i-footer-content .title .xdf-logo {
    margin-bottom: -8px
}

.nav {
    border-bottom: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.search {
    padding-bottom: 50px
}

.search .search-nav {
    width: 458px;
    padding-top: 0
}

.search .search-form {
    width: 458px;
    height: 48px;
    border-width: 4px;
    border-radius: 15px
}

.search .search-form .search-input {
    line-height: 40px;
    width: 376px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

.search .search-form .search-btn {
    width: 54px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}


.content-nav {
    position: relative;
    width: 1000px;
    margin: auto;
    padding-top: 20px
}

.content-nav .content-nav-link {
    font-size: 14px;
    display: inline-block;
    color: #787878
}

.content-nav .content-nav-link a {
    text-decoration: underline;
    color: #787878
}

.content-wrap {
    font-size: 16px;
    overflow: hidden;
    width: 1000px;
    margin: auto;
    padding: 10px 0;
    color: #646464
}

.content-wrap .left-content, .content-wrap .right-content {
    float: left
}

.content-wrap .left-content {
    width: 723px;
    padding-right: 45px;
    border-right: 1px solid #f5f5f5
}

.content-wrap .left-content .word-title .word-spell {
    /*font-size: 45px;*/
    color: #00bcc2
}

.content-wrap .left-content .content-box {
    margin-top: 35px
}

.content-wrap .left-content .content-box .details-title {
    font-size: 18px;
    line-height: 50px;
    position: relative;
    height: 50px;
    color: #464646;
    border-bottom: 1px solid #ebebeb;
    background: #fafafa
}

.content-wrap .left-content .content-box .details-title .title-text {
    position: relative;
    display: inline-block;
    padding-left: 45px
}

.content-wrap .left-content .content-box .details-title .title-text:before {
    position: absolute;
    top: 50%;
    left: 25px;
    width: 8px;
    height: 8px;
    margin-top: -8px;
    content: '';
    border: 4px solid #00bcc2;
    border-radius: 50%
}

.content-wrap .left-content .content-box .details-title:after {
    font-size: 14px;
    line-height: 50px;
    position: absolute;
    right: 0;
    padding: 0 25px;
    content: '';
    cursor: pointer;
    text-align: center;
    color: #00bcc2
}

.content-wrap .left-content .content-box .details-title.fold:after {
    content: ''
}

.content-wrap .left-content .content-box .details-title.fold + .details-content {
    display: none
}

.content-wrap .left-content .content-box .details-content {
    font-size: 14px;
    line-height: 28px;
    padding: 15px 25px;
    color: #646464;
    background: #fafafa
}

.content-wrap .left-content .content-box .details-content .details-content-title {
    font-size: 12px;
    line-height: 25px;
    position: relative;
    display: inline-block;
    height: 25px;
    margin-top: 15px;
    margin-bottom: -10px;
    padding-right: 20px;
    padding-left: 10px;
    color: #fff;
    border-radius: 3px;
    background-color: #a2b4de
}

.content-wrap .left-content .content-box .details-content .details-content-title:after {
    position: absolute;
    right: -2px;
    width: 0;
    height: 0;
    content: '';
    border: 13px solid transparent;
    border-right: 13px solid #fff
}

.content-wrap .left-content .content-box .details-content .word-spell-box {
    display: inline-block;
    overflow: hidden;
    margin-right: 15px
}

.content-wrap .left-content .content-box .details-content .word-spell, .content-wrap .left-content .content-box .details-content .word-spell-audio {
    line-height: 25px;
    float: left;
    height: 25px
}

.content-wrap .left-content .content-box .details-content .word-spell + .word-spell {
    margin-left: 10px
}

.content-wrap .left-content .content-box .details-content .word-bold {
    font-weight: 700;
    padding-right: 5px
}

.content-wrap .left-content .content-box .details-content .word-spell-audio {
    display: inline-block;
    width: 20px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
    background: url("/static/img/audio.png") center no-repeat
}

.content-wrap .left-content .content-box .details-content .word-spell-audio:hover {
    background-image: url("/static/img/audio-hover.png")
}

.content-wrap .right-content {
    width: 229px
}