<div th:replace="module/header"></div>

<div class="content-nav">
    <h1 class="content-title">背单词词汇表</h1>
    <div class="content-nav-link"><a href="/" title="首页">首页</a>&nbsp;&gt;&nbsp;
        <a href="#" title="背单词词汇表">字母单词表</a></div>
</div>
<div class="content-wrap">
    <!--            左侧内容-->
    <div class="left-content">
        <div class="word-wrap">
            <div th:each="letter : ${allLetterList}" th:if="${!letter.wordList.isEmpty()}">
                <div class="word-title">[[${letter.letter}]]
                    <a class="word-more" th:href="@{'/word/letter/'+${letter.letter}}">更多</a>
                </div>
                <div class="word-box">
                    <a class="word" th:each="word : ${letter.wordList}" th:href="@{'/word/'+${word.wordId}}">[[${word.wordName}]]</a>
                </div>
            </div>
        </div>
    </div>
    <div class="right-content">
        <div th:replace="module/right"></div>
    </div>
</div>
<div th:replace="module/footer"></div>